* {
  box-sizing: border-box;
  margin: 0;
}

header {
  min-height: 600px;
  background-image: url("images/skyscrapers-g835bb58ca_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  overflow: hidden;
}

header .bg-gradient important {
  width: 100%;
  height: 400px;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

.form {
  width: 100%;
  height: 400px;
  max-width: 350px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  padding: 20px;
  right: 10vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: #ccc 1px solid;
  position: absolute;
  padding: 0;
}
.content-center {
  position: relative;
  margin: auto;
}
h1 {
  color: #fff;
  margin-left: 20px;
  padding: 10px;
}
aside {
  height: 100vh;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: auto;
}

aside h2 {
  color: #fff;
  font-size: 15px;
  text-align: center;
}
aside input {
  border-radius: 5px;
  border: #ccc 2px solid;
}
aside ul {
  color: #fff;
  list-style: none;
}
aside ul li {
  padding: 0;
  margin-left: 10px;
}
.secao main {
  width: 100px;
  height: 100px;
  border: black 2px solid;
  margin: 0;
}
.secao {
  margin: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}
.form {
  position: absolute;
}

form input {
  border: none;
  border-bottom: 2px solid;
}
form input[type="email"] {
  width: 275px;
  height: 50px;
  position: relative;
  text-align: center;
  top: 210px;
  display: flex;
  margin: 37px;
}
form input[type="password"] {
  width: 275px;
  height: 50px;
  position: relative;
  text-align: center;
  display: flex;
  margin: 37px;
}
.form button {
  width: 350px;
  height: 55px;
  left: 968px;
  top: 330px;
  margin-top: 110px;
}
.form input:hover {
  cursor: pointer;
  border-bottom-color: blue;
}
.form input:active {
  border-top: none;
}
form button {
  background-color: #435bb2;
  border: 1px solid black;
  color: #fff;
  font-size: 20px;
}

form button:hover {
  background-color: #536fd4f6;
}

form a {
  color: #000;
}

form p {
  margin-left: 200px;
  padding-bottom: 3px;
  text-decoration: underline;
  font-weight: bold;
}
form p:hover {
  cursor: pointer;
  color: #435bb2;
}
.row {
  padding: 0;
  margin: 0;
  border-bottom: #ccc 1px solid;
}
nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1px;
}

nav li {
  color: #fff;
  display: inline;
  padding: 15px;
  margin: 0;
  height: 51px;
}
nav li:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #ccc;
}
h1 {
  margin: 0;
  text-align: center;
}
